header {
    height: 4vh;
    background-color: lightcoral;
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    height: 4vh;
    background-color: lightcoral;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    background-image: url('../assets/spacebg.jpg');
    background-size: cover;
    height: 89vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.main div {
    font-size: 2em;
    border: 2px solid lightcoral;
    border-radius: 10px;
    margin: 24px;
    cursor: pointer;
    display: flex;
    text-align: center;
}

#button1 {
    background-image: url('../assets/button1.png');
    background-size: cover;
    padding: 4px;
}
#button2 {
    background-image: url('../assets/button1.png');
    background-size: cover;
    padding: 4px;
}